/*Blog CSS*/
body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
    line-height: 1.6;
    padding-left: 20%;
    padding-right: 20%;
  }


/*Tooltip CSS*/
#tooltip {
    display: none;
    position: absolute;
}

.tooltip-content {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    --tooltip-color: #333;
    background-color: var(--tooltip-color);
    padding: 0px;
    border-radius: 4px;
    width: 130px;
    height: 38px;
    /* opacity: 0;
    pointer-events: none; */
    z-index: 2;
}
.tooltip-content .arrow{
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: var(--tooltip-color);
    top: 58px;
    left: 50%;
    transform:translate(-50%, -100%) rotate(180deg);
  }

.tooltip-content {
    background-color: var(--tooltip-color);
    justify-content: space-around;
    align-items: center;
}
button {
    color:white;
    background-color: var(--tooltip-color);
    border: 0;
    padding: 0;
    margin: 5px;
    cursor: pointer;
}



